.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero__subtitle {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0e0e0e;
    gap: 90px;
  }
  .hero__description {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
    gap: 90px;
  }
  .hero__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(12px, 4vw, 20px);
    padding: clamp(4px, 4vw, 16px);
    border-radius: 15px;

    .hero__phone-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      border-radius: 15px;
      padding: 30px;
      position: relative;
      overflow: hidden;
      width: fit-content;

      .hero__phone-block__image-container {
        position: relative;
        height: 600px;
        img {
          min-width: 250px;
          max-width: 100%;
          height: auto;
          display: block;
          margin-top: 0.5vw;
        }
      }

      .hero__phone-block__message {
        margin-top: 0.5vw;
        font-family: "Inter", sans-serif;
        font-size: clamp(10px, 3vw, 18px);
        font-weight: 500;
        padding: 10px 25px;
        border-radius: 20px;
        max-width: 220px;
        z-index: 100;
        position: absolute;
      }

      .hero__phone-block__message__black {
        background-color: #0e0e0e;
        color: white;
      }

      .hero__phone-block__message__white {
        background-color: #f4f4f4;
        color: #0e0e0e;
      }

      #message1 {
        top: 10%;
        left: -10%;
        transform: rotate(3deg);
      }

      #message2 {
        top: 22%;
        right: -10%;
        transform: rotate(3deg);
      }

      #message3 {
        top: 34%;
        left: -10%;
        transform: rotate(3deg);
      }

      #message4 {
        top: 46%;
        right: -10%;
        transform: rotate(-3deg);
      }
    }
    .hero__phone-block::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      pointer-events: none;
      z-index: 5;
    }
    .hero__time-block {
      background-color: #0e0e0e;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      padding: 40px;
      .hero__time-block__text {
        text-align: center;
        border-radius: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        > * {
          margin: 0;
        }
        .hero__time-block__title-big {
          font-family: "Inter", "Inter Placeholder", sans-serif;
          font-size: clamp(40px, 8vw, 70px);
          font-weight: 600;
          color: white;
        }
      }
    }
    .hero__sales-block {
      background-color: white;
      border-radius: 15px;
      .hero__sales-block__text {
        padding: 30px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .hero__rate-block {
      background-color: white;
      border-radius: 15px;
      background-image: url("../img/hero/clouds.png");
      background-position: bottom;
      background-size: cover;
      background-position-y: 20%;
      .hero__rate-block__text {
        padding: 30px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .hero__rate-block__percentage {
          font-family: "Inter", "Inter Placeholder", sans-serif;
          font-size: clamp(40px, 8vw, 80px);
          font-weight: 600;
          text-align: center;
          color: white;
          margin: auto;
        }
        h2 {
          color: white;
        }
      }
    }
    .hero__gif-block {
      background-color: white;
      border-radius: 15px;
      padding: 30px;
      .hero__gif-block__text {
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
      .hero__gif-block__gif {
        .hero__gif-block__message {
          font-family: "Inter", "Inter Placeholder", sans-serif;
          font-size: clamp(14px, 3vw, 22px);
          font-weight: 600;
          background-color: #f4f4f4;
          color: #0e0e0e;
          padding: 10px;
          border-radius: 20px;
          text-align: center;
          max-width: 200px;
        }
      }
    }
    @media (min-width: 810px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .hero__phone-block {
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .hero__phone-block__titles {
          margin-top: auto;
          max-width: 40%;
          z-index: 100;
        }
        #message1 {
          top: 10%;
          left: -20%;
          transform: rotate(3deg);
        }

        #message2 {
          top: 22%;
          right: -20%;
          transform: rotate(3deg);
        }

        #message3 {
          top: 34%;
          left: -20%;
          transform: rotate(3deg);
        }

        #message4 {
          top: 46%;
          right: -20%;
          transform: rotate(-3deg);
        }
      }
      .hero__rate-block {
        grid-column: span 2;
      }
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1fr, 70px, 1fr);

      .hero__phone-block {
        grid-area: 1/1/3/3;
      }
      .hero__rate-block {
        grid-area: 1/3/2/4;
      }
      .hero__time-block {
        grid-area: 3/1/4/2;
      }
      .hero__sales-block {
        grid-area: 3/2/4/3;
      }
      .hero__gif-block {
        grid-area: 2/3/4/4;
      }
    }
  }
}
